.form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #FFFBFB;
}

.label {
    display: block;
    margin-bottom: 10px;
}

.input {
    margin-left: 10px;
}

.button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}